$var title: about
<h3>About</h3>
<div style="text-align:left">
    <p>The main reason i developed this toy site is because i'm a big fan of Mythbusters show since the first season and, with this quiz, i would like to remember all the myths tested.</p>
    <p></p>
	<p>Thanks to</p>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/MythBusters">Wikipedia</a></li>
        <li><a href="http://en.wikiquote.org/wiki/MythBusters">Wikiquote</a></li>
        <li><div xmlns:cc="http://creativecommons.org/ns#" about="http://www.flickr.com/photos/balerini/2532483450/"><a rel="cc:attributionURL" href="http://www.flickr.com/photos/balerini/">Balerini on flickr</a> / <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></div></li>
        <li><a href="http://digitalnature.ro/projects/arclite/">Digitalnature</a></li>
        <li><a href="http://cooltext.com">Cooltext</a></li>
    </ul>
    
    <p>If you would like to spread the myths, highlight and copy the code below and paste it into your web page.</p>
    <p>
        <img src="/static/images/quizbusters.gif" width="80" height="15" alt="Quizbusters" style="border: 0;">
        <br>
        <textarea name="textfield" cols="50" rows="5">&lt;a href=&quot;http://www.systempuntoout.com&quot; target=&quot;_top&quot;&gt;&lt;img src=&quot;http://www.systempuntoout.com/static/images/quizbusters.gif&quot; width=&quot;80&quot; height=&quot;15&quot; alt=&quot;Quizbusters&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;</textarea>
    </p>
    <p>For comments, bugs report or features request feel free to drop me an email at <img src="/static/images/systempuntooutmail.jpg">.</p>
</div>