$var title: download
<h3>Download</h3>
<div style="text-align:left">
	<p>This quiz game is a work in progress.</p>
    <p>i'm developing this project for two main reasons: the first is to explore Python web frameworks, the second reason is to try to design an application reusable on different channels (web, client, mobile)  .</p>
    <p></p>
	<p>Main technologies:</p>
    <ul>
        <li><a href="http://www.webpy.org">Webpy</a></li>
        <li><a href="http://www.jquery.org">JQuery</a></li>
        <li><a href="http://www.sqlite.org">Sqlite</a></li>
        <li><a href="http://www.json.org">JSon</a></li>
    </ul>
    <p>Source code soon :).</p>
</div>
